.main {
  width: 50%;
  margin: auto;
}

.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#title {
  font-family: 'Cormorant Garamond', serif;
  margin-left: 45%;
}

.bio {
  box-shadow: 15px 15px 15px rgba(0.1, 0.1, 0.1, 0.1);
}

#searchbox {
  box-shadow: 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
}
